START
PUSHN 4
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
L0:
PUSHG 1
PUSHI 9
INFEQ
JZ L1
PUSHG 0
PUSHG 1
PUSHA CONVRT
CALL
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
U10:
NOP
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L0
L1:
STOP
CONVRT:
PUSHN 5
PUSHI 0
STOREL 4
PUSHI 1
STOREL 3
PUSHFP
LOAD -2
STOREL 1
U20:
PUSHL 1
PUSHI 0
SUP
JZ L4
PUSHL 1
PUSHFP
LOAD -1
MOD
STOREL 2
PUSHL 4
PUSHL 2
PUSHL 3
MUL
ADD
STOREL 4
PUSHL 1
PUSHFP
LOAD -1
DIV
STOREL 1
PUSHL 3
PUSHI 10
MUL
STOREL 3
JUMP U20
JUMP L5
L4:
L5:
PUSHL 4
STOREL 0
PUSHL 0
RETURN
